body {
  background: #37474f;
  color: white;
	text-align: center;
	font-size: 1.3em;
	line-height: 1.1;
}

.left {
  float: left;
  width: 55%;
}

.right {
  float: right;
  width: 40%;
}

.grey {
  color: #cccccc;
}

.coltitle {
  color: white;
  font-weight: bold;
}

.content {
  font-size: 0.8em;
  text-align: left;
  padding-top: 10px;
}

.indent {
  padding-left: 50px;
}

.footer {
  font-size: 0.6em;
  position: fixed;
  top: 79%;
  text-align: center;
  width: 100%;
}

.leftresults {
  float: left;
  width: 60%;
}

.rightresults {
  width: 38%;
  position: absolute;
  right: 50px;
  top: 50px;
  line-height: 0;
}

#sidecaption {
  float: right;
  top: 50px;
  width: 23%;
  font-size: 0.6em;
}

#kmltext {
  width: 250px;
  text-align: right;
}
